@import "tailwindcss";

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/Lora.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bonobo";
  src: url("/fonts/BonoboSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@media (min-width: 1024px) {
  .slot-badge-inactive {
    background-color: unset !important;
    color: unset !important;
  }
}

:root {
  --background-color: #02060b;
  --foreground-color: #f4f1e8;
  --background-mid: #040d17;
  --foreground-mid: #f3e6c9;

  --accent-1: #d79a3e;
  --accent-2: #f6d68a;
  --accent-3: #ead7b0;

  --h1-size: clamp(24px, 3vw + 0.25rem, 2.5rem);
  --h2-size: clamp(20px, 1.5vw + 0.2rem, 1.5rem);
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  transition:
    background-color 0.3s,
    color 0.3s;
  font-family: "Manrope", serif;
}

@keyframes flip-in {
  from {
    transform: rotateY(-90deg);
    opacity: 0;
  }
  to {
    transform: rotateY(0deg);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

h1 {
  font-size: var(--h1-size);
}

h2 {
  font-size: var(--h2-size);
}

p,
a,
span {
  font-size: clamp(16px, 1.25vw + 0.1rem, 1rem);
}

button:hover {
  cursor: pointer;
}
